.help-out-head{
    margin: 10px auto;
    flex-direction: column;
    align-items: flex-start;
    gap:25px;
    max-width: 900px;
    overflow: hidden;
}

.help-out-main-sec{
    overflow: hidden;
}
.help-out{
    padding: 30px;
    
}

.help-input{
    padding: 15px 30px;
    width: 100%;
    font-size: 1.3rem;
    border: 0.5px solid grey;
    /* height: 30px; */
}

.big-para{
    font-size: 1.5rem;
}
.help-cards{
    gap:60px;
    border: 0.5px solid rgb(182, 178, 178);
    margin: 30px;
    transition: 0.2s ease-in;
    background-color: white;
    padding: var(--padding-inline);
}

.help-cards:hover{
    box-shadow: 0 0 10px #888;
}

.help-card-img img{
    
    width: 200px;
     height:150px;
}
.questions{
    flex-direction: column;
    align-items:  flex-start;
    gap: 10px;
}

/* --------------------Contact-US PAGE--------------------------------------------------- */

.contact-us-body{
    flex-direction: column;
    /* gap: 20px; */
    margin: 20px auto;
    padding: 10px 50px;
    text-align: center;
    
    background-color: transparent;
    background-image: url('./assets/asset\ 34.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.get-in-touch-links{
    flex-direction: column;
    gap:20px;
    font-size: 1.4rem;
}

.links{
    font-size: 1.5rem;
}

.social-media-links{
    font-size: 1.6rem;
}
.sign-in-info{
    max-width: 60vw;
}
.contact-right{
    width: 100%;
}
.contact-head-link{
    gap:30px;
}
.contact-left{
    width: 50vw;
}

/* ----------------------------------Pricing---------------------------------------------------- */
.active{
    color: var(--accent-color);
}

.inline{
    display: inline;
}
.price-area{
    padding: 30px var(--padding-inline);
}
.pricing-link{

        font-family: 'Roboto',sans-serif;
        font-size: 1.3rem;
        /* color: var(--secondary-text); */
        line-height: 1.8rem;
        text-decoration: underline;
}

.pricing-right-image img{
    width: 100%;
}

.pricing{
    gap:80px;
    padding: 50px var(--padding-inline);
    text-align: center;
}

.price-card{
    /* flex-direction: column; */
    gap:20px;
    background-color: lightblue;
    padding: 20px 30px;
    margin: var(--padding-inline);
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.price-card:hover{
    box-shadow: 0 0 10px #888;
}

.price-cont{
   justify-content: space-evenly;
   flex-wrap: wrap;
}


/* -------------------------------------------POP UP------------------------------------------------------------------ */
.pop-up-content{
    background-color: rgb(241, 239, 239);
    width: 40vw;
    height: 250px;
    flex-direction: column;
    text-align: center;
    /* gap:30px; */
    margin: 10px auto;
    z-index: 2;
    margin-top: 20px;
    position: absolute;
    left:32%;
    top:-100%;
    transform: translate(-5%,-10%);
    border: 0.5px solid grey;
    border-radius: 6px;
    box-shadow: 0 0 10px #888;
    transition: 0.200s ease-in;
}

.pop-up-text{
    padding: 20px var(--padding-inline);
    /* margin: auto auto; */
    width: 100%;
    margin: 20px 10px;

    
}
 
.active-pop-up{
    top:40%;
    /* -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
      /* filter: blur(5px);  */
     
}


.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: 0.25s ease-in-out;
  }
.close-pop-up{
    position: absolute;
    right: 20px;
    top:20px;
    
}

.close-pop-up button{
    padding:  0px 4px;
    cursor: pointer;
}

.home-page-btn{
    font-size: 1.1rem;
    
}

